.companies {
    padding: 65px 0 76px 0;
    &__title {
        font-family: 'Gilroy';
        font-weight: 600;
        font-size: 22px;
        line-height: 26px;
        text-align: center;
    }
    &__list {
        display: flex;
        flex-wrap: nowrap;
        margin: 39px 0 0 -30px;
    }
    &__item {
        margin-right: 49.5px;
        display: flex;
        white-space: nowrap;
        justify-content: center;
        align-items: center;
        flex: 0 0 140px;
        &:last-child {
            margin-right: -30px;
        }
    }
}