@use "vars" as *;
.process {
    padding: 28px 0 101px 0;
    &__img {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }
    &__title {
        margin-bottom: 14px;
    }
    &__dscr {
        margin-bottom: 46px;
    }
    &__stages {
        padding: 0 43px 0 37px;
        display: flex;
        justify-content: space-between;
    }
}

.stage {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 322px;
    &__number {
        position: absolute;
        top: -20px;
        left: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background: #F6F6F7;
        border-radius: 80px;
        font-family: 'Circular Std';
        font-weight: 700;
        font-size: 18px;
    }
    &__icon {
        width: 160px;
        height: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='80' ry='80' stroke='%23939393FF' stroke-width='2' stroke-dasharray='7' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
        border-radius: 80px;
        margin-bottom: 54px;
    }
    &:first-child {
        .stage__icon {
            background: none;
            box-shadow: 6px 8px 80px rgba(148, 148, 148, 0.16);
        }
    }
    &:nth-child(2) {
        .stage__icon {
            position: relative;
            &::before {
                content: url("../../img/process/vector-before.svg");
                position: absolute;
                left: -202px;
            }
            &::after {
                content: url("../../img/process/vector-after.svg");
                position: absolute;
                left: 202px;
            }
        }
    }
    &__name {
        font-family: 'Manrope';
        font-weight: 600;
        font-size: 24px;
        line-height: 115%;
        letter-spacing: -0.05em;
        color: $lighter-black;
        margin-bottom: 16px;
    }
    &__dscr {
        font-family: 'Manrope';
        font-weight: 400;
        font-size: 16px;
        line-height: 200%;
        text-align: center;
        letter-spacing: -0.02em;
        color: #757095;
    }
}