@use "vars" as *;
.services {
    padding-bottom: 92px;
    &__name {
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -0.02em;
        margin-bottom: 2px;
    }
    &__subtitle {
        margin-bottom: 15px;
    }
    &__title {
        margin-bottom: 56px;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 27px 30px;
        padding: 0 18px 0 12px;
        font-family: 'Manrope';
    }
    &__item {
        padding: 57px 0 0 55px;
        width: 270px;
        height: 237px;
        border: 1px solid #E7E7E7;
        border-radius: 15px;
        &_accent {
            background-color: $primary-color;
            border: none;
        }
    }
    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;
        width: 40px;
        height: 40px;
        background: #ECECEC;
        border-radius: 5px;
    }
    &__options-count {
        font-weight: 500;
        font-size: 12px;
        line-height: 30px;
        letter-spacing: -0.02em;
        color: $gray-color-primary;
        &_white {
            color: #FFFFFF;
        }
    }
    &__more {
        margin-top: 32px;
        font-weight: 700;
        font-size: 33px;
        line-height: 28px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
    }
}

.more {
    &__item {
        margin-bottom: 18px;
    }
}