@use "fonts";
@use "vars" as *;
@use "header";
@use "welcome-section";
@use "companies";
@use "services";
@use "process";
@use "download-app";
@use "dignity";
@use "plans";
@use "feedbacks";
@use "slogan-section";
@use "footer";
.container {
    width: 1200px;
    margin: 0 auto;
}

.wrapper {
    position: relative;
    overflow: hidden;
    &::before {
        content: "";
        position: absolute;
        z-index: -100;
        width: 820px;
        height: 820px;
        background: linear-gradient(rgba(73, 164, 248, 0.24) 10.8%, rgba(15, 209, 186, 0.0696) 67.77%);
        border-radius: 50%;
        filter: blur(50px);
        right: -20.555556%;
        top: -248px;
        transform: rotate(15deg);
    }
    &::after {
        content: "";
        position: absolute;
        width: 1607.58px;
        height: 820px;
        background: linear-gradient(165.96deg, #49A4F8 24%, #0FD1BA12 6.96%);
        opacity: 0.6;
        filter: blur(200px);
        transform: rotate(-1.25deg);
        bottom: -600px;
        left: 500px;
    }
}

.section-name {
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    &_red {
        color: $accent-color;
    }
    &_blue {
        color: #3734A9;
    }
}

.section-title {
    font-family: 'Manrope';
    font-weight: 800;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    letter-spacing: -0.03em;
    &_left-align {
        text-align: left;
    }
}

.section-dscr {
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    letter-spacing: -0.02em;
    color: $gray-color-primary;
    &_left-align {
        text-align: left;
    }
}

.try-button {
    width: 189px;
    height: 55px;
    background: $primary-color;
    box-shadow: 0px 38px 50px rgba(5, 121, 107, 0.2);
    border-radius: 80px;
    border: none;
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
}