@use "fonts";
@use "vars" as *;
@use "header";
@use "welcome-section";
@use "companies";
@use "services";
@use "process";
.container {
    width: 1200px;
    margin: 0 auto;
}

.wrapper {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        z-index: -100;
        width: 820px;
        height: 820px;
        background: linear-gradient(rgba(73, 164, 248, 0.24) 10.8%, rgba(15, 209, 186, 0.0696) 67.77%);
        border-radius: 50%;
        filter: blur(50px);
        right: -20.555556%;
        top: -248px;
        transform: rotate(15deg);
    }
}

.section-name {
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
}

.section-title {
    font-family: 'Manrope';
    font-weight: 800;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    letter-spacing: -0.03em;
}

.section-dscr {
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    letter-spacing: -0.02em;
    color: $gray-color-primary;
}