@import "_fonts.scss";
@import "_vars.scss";
@import "_header.scss";
@import "welcome-section.scss";
.container {
    width: 1200px;
    margin: 0 auto;
}

.wrapper {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        z-index: -100;
        width: 820px;
        height: 820px;
        background: linear-gradient(rgba(73, 164, 248, 0.24) 10.8%, rgba(15, 209, 186, 0.0696) 67.77%);
        border-radius: 50%;
        filter: blur(50px);
        right: -20.555556%;
        top: -248px;
        transform: rotate(15deg);
    }
}